


/*jquerycarousel*/


 .jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 598px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 598px;
	border:0px;
}

.jcarousel-container {
    position: relative;
}
/*controla lacandidad de cajas derecha*/
.jcarousel-clip {

    z-index: 2;
    padding: 0px;
    overflow: hidden;
    position: relative;
	border:0px;
}
/*controla lacandidad de cajas izq*/
.jcarousel-list {
    z-index: 2;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

/* controla el float de las cajas*/
.jcarousel-item {
    float: left;
    list-style: none;

}

/*zindex de la flecha der*/
.jcarousel-next {
    z-index: 3;
    display: none;
}
/*zindex de la flecha izq*/
.jcarousel-prev {
    z-index: 3;
    display: none;
}

/*borde*/
.jcarousel-skin-tango .jcarousel-container {
	background:#4785b0;
    border: 1px solid #729fbf;
}
/* espaciado*/
.jcarousel-skin-tango .jcarousel-container-horizontal {
	padding:10px 40px ;
	margin: 10px 0 10px 0;
}
/* medidas cajas*/
.jcarousel-skin-tango .jcarousel-item {
    width: 120px;
    height: 170px;
	margin-right:15px;
	padding-left:2px;
}

.jcarousel-skin-tango ul li{ font-family:Arial, Helvetica, sans-serif; font-size:12px;

}

.jcarousel-skin-tango ul li span a { color:#000; text-decoration:none;}
.jcarousel-skin-tango ul li span a:hover { color:#fff; text-decoration:none;}




.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 83px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 83px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}


 